body {
  @apply min-w-0 max-w-fit my-[4%] mx-auto select-none text-3xl text-3xl;
}

.calculator {
  @apply text-center
     max-w-max 
     my-0 mx-auto 
     p-[18px] 
     shadow-webkit 
     shadow-mine 
     box-content 
     border-gray-400 
     border-2
     rounded-[4px];
}
.result {
  @apply select-all;
}

.operators div {
  @apply inline-block border border-gray-100 rounded-[1px] w-[79.5px] translate-x-[1.39px] text-center p-[10px] bg-[#ddd] transition-colors cursor-pointer;
  margin: 20px 4px 10px 0;
}

.operators div:hover {
  @apply bg-[#ddd] shadow-mine shadow-webkit border-[#aaa];
}

.leftPanel {
  display: inline-block;
}

.numbers div {
  @apply inline-block border-[#bbb] rounded-[1px] w-[80px] text-center p-[10px] cursor-pointer bg-[#f9f9f9];
  transition: border-color 0.2s ease-in-out, background-color 0.2s,
    box-shadow 0.2s;
  margin: 10px 4px 10px 0;
}

.numbers div:hover {
  @apply shadow-mine shadow-webkit bg-[#f1f1f1] border-[#bbb];
}
input{
  @apply w-[100%];
}
.numbers div:active,
.operators div:active,
div.equal:active {
  @apply font-bold;
}
div.equal {
  @apply inline-block border-[#3079ed] rounded-[1px] text-center py-[127px] align-bottom cursor-pointer text-white bg-blue transition-all ease-in-out delay-200 w-[21.7%];
  margin: 10px 6px 10px 0;
}

div.equal:hover {
  @apply shadow-webkit shadow-mine bg-blue;
}
